<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="clientBehavior">
                    <clientCredentials>
                        <serviceCertificate>
                            <authentication certificateValidationMode="None" />
                        </serviceCertificate>
                    </clientCredentials>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <wsHttpBinding>
                <binding name="wsHttpEndpoint" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
                    transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" negotiateServiceCredential="true"
                            algorithmSuite="Default" establishSecurityContext="true" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://win-5btszfzq7gd.anderssonlink.local:8080/service"
                behaviorConfiguration="clientBehavior" binding="wsHttpBinding"
                bindingConfiguration="wsHttpEndpoint" contract="OrderServiceReference.IOrderService"
                name="wsHttpEndpoint">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAlcwlB7dTyDQGInBNQoEXs/aC65cgAAAAAQAAABYCAAAwggISMIIBe6ADAgECAhBNvj2ybvG9rkF1yi2wYks8MA0GCSqGSIb3DQEBBAUAMBUxEzARBgNVBAMTClJvb3RDQVRlc3QwHhcNMDkwMzAyMTQyODI4WhcNMzkxMjMxMjM1OTU5WjAuMSwwKgYDVQQDEyNXSU4tNUJUU1pGWlE3R0QuYW5kZXJzc29ubGluay5sb2NhbDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAttJ9160AohcAbuRSKfWSe6YPNeynZaTB8wwzEQIgR9R+r2P3Nas523KNdGgDkI+BDw6IA7azQkn41wlj1bX9c7WBJrL8cVUGW5tQ+DAwDe+xUUqctWW5JxraX894Ra9ea8jnv85P4JufsP2WqnnBFo5JQZUpjjGqzoiutlpNsXcCAwEAAaNKMEgwRgYDVR0BBD8wPYAQLdFPsIslpxcg/N+Ldu2xj6EXMBUxEzARBgNVBAMTClJvb3RDQVRlc3SCEJfaZWrF8MyIQnZ3aaYycoswDQYJKoZIhvcNAQEEBQADgYEATiBcMsBOE8Utkl+shh0ml7YxsWygLII/gNQ7aunXti9259IUDUO0nmdcMj5oNmD1sxLLsplH9DBhdl9Gx4Kq7DSAOfFKEEBa4K0DrQSZcQhF4MJpksR3th6bXdlB0v3l3O3umud9ZqNtnw+yyDlJGuLciSNKLPrY+LMxqBUCmVg=" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>