<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <appSettings>
    <add key="connectionString" value="Server=localhost;database=AnderssonLink;Integrated Security=True" />
  </appSettings>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    
    <services>
      <service behaviorConfiguration="AnderssonLink.MessageDatabase.AccessServices.OrderService.Service1Behavior"
        name="AnderssonLink.MessageDatabase.AccessServices.OrderService.OrderService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
          name="BasicHttpEndpoint" contract="AnderssonLink.MessageDatabase.AccessServices.OrderService.IOrderService" />
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration=""
          name="MexHttpsBindingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://WIN-5BTSZFZQ7GD.anderssonlink.local:443/OrderService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="AnderssonLink.MessageDatabase.AccessServices.OrderService.Service1Behavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="false" includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None" />
            </clientCertificate>
            <serviceCertificate x509FindType="FindBySubjectName" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding">
          <security mode="TransportWithMessageCredential" />
        </binding>
      </basicHttpBinding>
    </bindings>
    
  </system.serviceModel>
</configuration>
