<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TestServiceBindingBasic" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="TestServiceBinding">
          <security mode="Message" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="TestService.Service1Behavior"
        name="TestService.Service1">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="TestServiceBindingBasic"
          name="TestServiceEndpoint" contract="TestService.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="MexEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://WIN-5BTSZFZQ7GD.anderssonlink.local:8731/Design_Time_Addresses/NewTestService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TestService.Service1Behavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceCredentials>
            <issuedTokenAuthentication certificateValidationMode="ChainTrust" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
